<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<%include templates/header.ejs%>
		<p>Id: <%=subcategory.id%></p>
		<p>Name: <%=subcategory.name%></p>
		<p>Plural Name: <%=subcategory.pluralName%></p>
		<p>Short Name: <%=subcategory.shortName%></p>
	</body>
</html>